/* CSS files add styling rules to your content */

#bands {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#bands td, #bands th {
  border: 1px solid #800080;
  padding: 8px;
  text-align: center;
  border-style:hidden;
}

#bands tr:nth-child(even){background-color: #ff33cc;}

#bands tr:nth-child(odd){background-color: #e495e4;}

#bands tr:hover {background-color: #ddd;}

#bands th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
